# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos gerados pela aplicação (logs, documentos, relatórios)
output/
src/output/
*.log

# Arquivos de ambiente virtual (boa prática adicionar)
.venv
venv
ENV/
env/

# Arquivos de configuração de IDEs
.vscode/
.idea/